<section>
    <video controls autoplay>
        <source src="movie.mp4" type="video/mp4">
    </video>
    <div>
        <p>Fique a conhecer os nossos projetos, desde a fase de planeamento até aos acabamentos finais.</p>
    </div>
</section>