<footer>
    <div class="">
        <img class="" src=""/> JR construcoes
        <img class="" src=""/> Facebook
        <img class="" src=""/> Instagram
    </div>

    <div class="">
        <h4>CONTATOS</h4>
        <img class="" src=""/>
        <p>joaoribeiroconstruções@gmail.com</p>
        <img class="" src=""/>
        <p>+351 919 999 999</p>
        <img class="" src=""/>
        <p>+351 919 999 999</p>
    </div>

    <div class="">
        <h4>MORADA</h4>
        <p>Rua XXXXXX</p>
        <p>XXX-XXX</p>
        <p>Porto</p>
    </div>

    <div class="">
        <p>PORTUGAL</p>
        <p>2020 João Ribeiro Construções</p>
        <p><a>Política de Privacidade</a> | <a>Termos de Utilização</a></p>
    </div>
</footer>