<section>
    <div class="">
        <h2>Desafie-nos</h2>
        <h3>Partilhe a sua ideia connosco.</h3>
        <p>Queremos conhecer o seu projeto. De uma forma individualizada, iremos analisar atentamente as suas preocupações e objetivos. Pode contar com um plano estruturado onde todas as suas questões serão respondidas.</p>
    </div>

    <div class="">
        <h3>TERRENO PARA CONSTRUÇÃO</h3>
        <button>
            <h5>CONTACTAR</h5>
            <img class="" src=""/>
        </button>
    </div>

    <div class="">
        <h3>TERRENO COM PROJETO</h3>
        <button>
            <h5>CONTACTAR</h5>
            <img class="" src=""/>
        </button>
    </div>

    <div class="">
        <h3>PARCERIA</h3>
        <button>
            <h5>CONTACTAR</h5>
            <img class="" src=""/>
        </button>
    </div>
</section>