<section>

    <div>
        <img src=""/>
        <!-- STAMP VERMELHO -->
        <div class="">
            <p>PARA</p>
            <h4>VENDA</h4>
        </div>
        <h3>CONSTRUÇÕES</h3>
        <!-- Bullet points -->
        <img src=""/>
        <p>Quer criar o lar dos seus sonhos?</p>
        <img src=""/>
        <p>Precisa de reinventar uma divisão da sua casa? </p>
        <img src=""/>

        <p>Planeia abrir um novo espaço para o seu negócio?</p>
        <p>Através da nossa mão-de-obra especializada e conhecimentos multidisciplinares seremos capazes de garantir que o resultado final irá corresponder sempre à sua expetativa.</p>
        <h4>Pode sonhar alto, nós fazemos acontecer.</h4>

        <button>
            <h5>VER PROJETOS</h5>
            <img class="" src=""/>
        </button>
    </div>

    <div>
        <img src=""/>
        <!-- STAMP VERMELHO -->
        <div class="">
            <p>PARA</p>
            <h4>ARRENDAR</h4>
        </div>
        <h3>APARTAMENTOS</h3>
        <!-- Bullet points -->
        <img src=""/>
        <p>Procura um espaço único, mas acolhedor? </p>
        <img src=""/>

        <p>Já visitou vários apartamentos, mas fica sempre insatisfeito com algum pormenor?</p>
        <p>Sabemos que, tal como a espécie humana, cada habitação é singular. Iremos ajudá-lo a encontrar o espaço ideal para si.</p>

        <button>
            <h5>VER IMÓVEIS</h5>
            <img class="" src=""/>
        </button>
    </div>

</section>