<section>
    <div class="wrapper">
        <h1 class="">CONSTRUÍMOS RELAÇÕES COM ALICERCES</h1>
        <h3>Fundada em 2003, a João Ribeiro Construções, Lda. é uma empresa familiar que atua no setor da construção e investimento imobiliário.</h3>
        <p>Do laço familiar nasce a nossa empresa onde o foco principal é o cliente. Através do conhecimento adquirido ao longo dos anos e do investimento constante em mais formação nesta área, somos capazes de encontrar a resposta que procura.</p>
    </div>

    <img src=""/>

    <h3>A Equipa</h3>

    <div class="wrapper">
        <img src=""/>
        <h4>JOÃO RIBEIRO</h4>
        <hr class="" />
        <h5>Sócio Gerente, Construção e Parcerias</h5>
    </div>

    <div class="wrapper">
        <img src=""/>
        <h4>JOÃO RIBEIRO</h4>
        <hr class="" />
        <h5>Arrendamentos e Construção</h5>
    </div>

    <div class="wrapper">
        <img src=""/>
        <h4>ANA RIBEIRO</h4>
        <hr class="" />
        <h5>Arrendamentos e Alojamento</h5>
    </div>
</section>